:root{
    --dark-clr: #283618;
    --light-clr: #fff;
    --primary-clr: #5bc467; /*90E39A*/
    --success-clr: #259DD0;
    --danger-clr: #B3001B;
}

/* Browser Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

 /* Styling */

 body{
    background: var(--light-clr);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

.sub-info-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:space-evenly;
    gap:10px;
}

.info{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.info-output{
    border-top: 2px solid var(--light-clr);
    font-size:5rem;
}

.card{
    background: var(--primary-clr);
    color:var(--light-clr);
    margin:2em;
    padding:10px;
    height:300px;
}



.challenges-card{
    display:grid;
    align-items:center;
    grid-template-columns: repeat(2,50%);
}

#challenges-header{
    font-size:4rem;
    text-align: center;
}

.challenges{
    display:flex;
    flex-direction:column;
    font-size: 2rem;
    text-align: center;
}