:root{
    --dark-clr: #181916;
    --dark-2-clr: #53564D;
    --light-clr: #EBEBEB;
    --primary-clr: #5bc467; /*90E39A*/
    --success-clr: #259DD0;
    --success-light-clr: #52B6E0;
    --danger-clr: #B3001B;
}

/* Browser Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

 /* Styling */

 body{
    background-image: url('forest.jpeg');
    width: 100%; height: 100%; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Karla"
  }

.sub-info-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:space-evenly;
    gap:0px;
}

.info{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.info-output{
    color: var(--primary-clr);
    font-size:5rem;
    font-family: "Inconsolata";
}

.card{
    background: var(--light-clr);
    color:var(--dark-clr);
    margin:1em;
    padding:10px;
    /* height:300px; */
}

button{
  background-color:var(--success-clr);
  border: none;
  border-radius: 20px;
  padding: 0 1em;
  color: var(--light-clr);
  height: 30px;
}

button:hover{
  background-color:var(--success-light-clr);;
  cursor:pointer
}

hr{
  border: solid 1px var(--dark-2-clr)
}

.challenges-card{
    display:grid;
    align-items:center;
    grid-template-columns: repeat(2,1fr);
    padding:2rem;
}

#challenges-header{
    font-size:4rem;
    text-align: center;
    font-family: "Karla"
}

.challenges-container{
    display:flex;
    flex-direction:column;
    font-size: 2rem;
    text-align: center;
    margin:1em;
}

.challenge {
  display: flex;
  flex-direction: column;
}

.challenge-title{
  text-align:center;
  font-size:1.75rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  text-align: left;
}
.task-words {
  margin: 0 5px;
  font-size: 1.5rem;
  font-family: "Inconsolata"
}
.completion-button {
  font-size: 1rem;
}

@media (max-width:700px) {
  .challenges-card{
    display:flex;
    flex-direction:column;
  }
  .challenge-title{
    font-size:1.5rem;
  }
  .completion-button{
    font-size: .9rem;
  }
  .task-words {
    font-size: 1.25rem;
  }
}

.fileUpload {
  width:fit-content;
  text-align:center;
  margin:auto;
  color: white; 
}

.footer {
  margin-top: 20px;
  background-color: var(--light-clr);
  text-align: center;
}
.footer-words {
  padding-top: 30px;
  color: black;
}

.logo {
  margin: auto;
  width:200px;
}

.hidden{
  display:none;
}